@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff') format('woff'), /* chrome��firefox */ url('../fonts/iconfont.ttf') format('truetype'), /* chrome��firefox��opera��Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
*[data-role=zlk]:before {
  font-family: iconfont;
  content: "\e600";
}
*[data-role=zlk][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e600";
}
*[data-role=zlk][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e600";
}
*[data-role=zlk][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e600";
}
*[data-role=fangda]:before {
  font-family: iconfont;
  content: "\e601";
}
*[data-role=fangda][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e601";
}
*[data-role=fangda][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e601";
}
*[data-role=fangda][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e601";
}
*[data-role=shezhi]:before {
  font-family: iconfont;
  content: "\e602";
}
*[data-role=shezhi][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e602";
}
*[data-role=shezhi][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e602";
}
*[data-role=shezhi][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e602";
}
*[data-role=xinxi]:before {
  font-family: iconfont;
  content: "\e603";
}
*[data-role=xinxi][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e603";
}
*[data-role=xinxi][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e603";
}
*[data-role=xinxi][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e603";
}
*[data-role=book]:before {
  font-family: iconfont;
  content: "\e604";
}
*[data-role=book][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e604";
}
*[data-role=book][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e604";
}
*[data-role=book][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e604";
}
*[data-role=yumao]:before {
  font-family: iconfont;
  content: "\e605";
}
*[data-role=yumao][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e605";
}
*[data-role=yumao][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e605";
}
*[data-role=yumao][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e605";
}
*[data-role=shangla]:before {
  font-family: iconfont;
  content: "\e606";
}
*[data-role=shangla][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e606";
}
*[data-role=shangla][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e606";
}
*[data-role=shangla][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e606";
}
*[data-role=xialaj]:before {
  font-family: iconfont;
  content: "\e60a";
}
*[data-role=xialaj][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e60a";
}
*[data-role=xialaj][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e60a";
}
*[data-role=xialaj][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e60a";
}
*[data-role=shouye]:before {
  font-family: iconfont;
  content: "\e60d";
}
*[data-role=shouye][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e60d";
}
*[data-role=shouye][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e60d";
}
*[data-role=shouye][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e60d";
}
*[data-role=about]:before {
  font-family: iconfont;
  content: "\e60c";
}
*[data-role=about][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e60c";
}
*[data-role=about][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e60c";
}
*[data-role=about][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e60c";
}
*[data-role=jineng]:before {
  font-family: iconfont;
  content: "\e610";
}
*[data-role=jineng][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e610";
}
*[data-role=jineng][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e610";
}
*[data-role=jineng][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e610";
}
*[data-role=work]:before {
  font-family: iconfont;
  content: "\e611";
}
*[data-role=work][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e611";
}
*[data-role=work][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e611";
}
*[data-role=work][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e611";
}
*[data-role=lianxi]:before {
  font-family: iconfont;
  content: "\e60e";
}
*[data-role=lianxi][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e60e";
}
*[data-role=lianxi][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e60e";
}
*[data-role=lianxi][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e60e";
}
*[data-role=sex]:before {
  font-family: iconfont;
  content: "\e613";
}
*[data-role=sex][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e613";
}
*[data-role=sex][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e613";
}
*[data-role=sex][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e613";
}
*[data-role=h5]:before {
  font-family: iconfont;
  content: "\e614";
}
*[data-role=h5][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e614";
}
*[data-role=h5][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e614";
}
*[data-role=h5][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e614";
}
*[data-role=home]:before {
  font-family: iconfont;
  content: "\e60f";
}
*[data-role=home][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e60f";
}
*[data-role=home][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e60f";
}
*[data-role=home][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e60f";
}
*[data-role=ps]:before {
  font-family: iconfont;
  content: "\e615";
}
*[data-role=ps][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e615";
}
*[data-role=ps][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e615";
}
*[data-role=ps][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e615";
}
*[data-role=hb]:before {
  font-family: iconfont;
  content: "\e616";
}
*[data-role=hb][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e616";
}
*[data-role=hb][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e616";
}
*[data-role=hb][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e616";
}
*[data-role=jq]:before {
  font-family: iconfont;
  content: "\e617";
}
*[data-role=jq][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e617";
}
*[data-role=jq][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e617";
}
*[data-role=jq][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e617";
}
*[data-role=year]:before {
  font-family: iconfont;
  content: "\e618";
}
*[data-role=year][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e618";
}
*[data-role=year][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e618";
}
*[data-role=year][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e618";
}
*[data-role=xiala]:before {
  font-family: iconfont;
  content: "\e609";
}
*[data-role=xiala][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e609";
}
*[data-role=xiala][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e609";
}
*[data-role=xiala][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e609";
}
*[data-role=css3]:before {
  font-family: iconfont;
  content: "\e619";
}
*[data-role=css3][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e619";
}
*[data-role=css3][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e619";
}
*[data-role=css3][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e619";
}
*[data-role=girl]:before {
  font-family: iconfont;
  content: "\e61a";
}
*[data-role=girl][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e61a";
}
*[data-role=girl][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e61a";
}
*[data-role=girl][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e61a";
}
*[data-role=ai]:before {
  font-family: iconfont;
  content: "\e61c";
}
*[data-role=ai][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e61c";
}
*[data-role=ai][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e61c";
}
*[data-role=ai][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e61c";
}
*[data-role=school]:before {
  font-family: iconfont;
  content: "\e61d";
}
*[data-role=school][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e61d";
}
*[data-role=school][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e61d";
}
*[data-role=school][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e61d";
}
*[data-role=xueli]:before {
  font-family: iconfont;
  content: "\e61f";
}
*[data-role=xueli][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e61f";
}
*[data-role=xueli][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e61f";
}
*[data-role=xueli][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e61f";
}
*[data-role=zhuzhi]:before {
  font-family: iconfont;
  content: "\e61b";
}
*[data-role=zhuzhi][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e61b";
}
*[data-role=zhuzhi][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e61b";
}
*[data-role=zhuzhi][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e61b";
}
*[data-role=yidong]:before {
  font-family: iconfont;
  content: "\e620";
}
*[data-role=yidong][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e620";
}
*[data-role=yidong][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e620";
}
*[data-role=yidong][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e620";
}
*[data-role=qq]:before {
  font-family: iconfont;
  content: "\e621";
}
*[data-role=qq][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e621";
}
*[data-role=qq][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e621";
}
*[data-role=qq][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e621";
}
*[data-role=weixin]:before {
  font-family: iconfont;
  content: "\e622";
}
*[data-role=weixin][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e622";
}
*[data-role=weixin][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e622";
}
*[data-role=weixin][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e622";
}
*[data-role=dianhua]:before {
  font-family: iconfont;
  content: "\e623";
}
*[data-role=dianhua][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e623";
}
*[data-role=dianhua][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e623";
}
*[data-role=dianhua][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e623";
}
*[data-role=mail]:before {
  font-family: iconfont;
  content: "\e624";
}
*[data-role=mail][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e624";
}
*[data-role=mail][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e624";
}
*[data-role=mail][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e624";
}

*[data-role=weibo]:before {
  font-family: iconfont;
  content: "\e625";
}
*[data-role=weibo][icon-pos="right"]:after {
  font-family: iconfont;
  content: "\e625";
}
*[data-role=weibo][icon-pos="top"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e625";
}
*[data-role=weibo][icon-pos="bottom"]:before {
  display: block;
  text-align: center;
  font-family: iconfont;
  content: "\e625";
}
